<!DOCTYPE html>
<html lang ='en' dir = 'ltr'>
    <body>
        <div class = 'content'>
            <h1 align='center'>Used Car resale price prediction using Linear Regression model</h1>
            <div class="form">
                <form action="/predict" method="post">
                    
                    <input type="number" name="Year" id ='Year' placeholder="Year">
                    <input type="number" name="Present_Price" id ='Present_Price' placeholder="Present_Price">
                    <input type="number" name="Kms_Driven" id ='Kms_Driven' placeholder="Kms_Driven">
                    <input type="number" name="Transmission" id ='Transmission' placeholder="Transmission">
                    <input type="number" name="Owner" id ='Owner' placeholder="Owner">
                    <input type="number" name="Fuel_Type_cat" id ='Fuel_Type_cat' placeholder="Fuel_Type_cat">
                    <input type="number" name="Car_Name_cat" id ='Car_Name_cat' placeholder="Car_Name_cat">
                    <input type="number" name="Seller_Type_cat" id ='Seller_Type_cat' placeholder="Seller_Type_cat">
                    
                    <input type="submit" value = 'Predict'>
                    
                </form>
            </div>
            
            
            
        </div>
    </body>